{% block body %}
<div class="header">
    <h2>Group 2 Diamond Hands - /r/wallstreetbets Sentiment Analysis</h2>
    <p></p>
</div>
<div class="top">
    <div class="header">
        <h2>Group 2 Diamond Hands - /r/wallstreetbets Sentiment Analysis</h2>
        <p></p>
    </div>
    <div id="navbar">
        <a id="home" href="/">Home</a>
        <a id="data" href="/data">Data</a>
        <a id="analytics" href="/analytics">Analytics</a>
        <a id="about" class="active" href="/aboutus">About Us</a>
    </div>
</div>

{% endblock %}
