@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

		body {
			background-color: rgb(54, 57, 63);
			color: rgb(245, 230, 220);
		}
		

		img {
			margin-top: 2%;
			margin-left: 2%;
			margin-right: 22%;
			margin-bottom: 1%;
		}
		
		pre {
			background-color: rgb(54, 57, 63);
			color: rgb(245, 230, 220);
		}

